.Fields__pictureThumbnail {
  max-width: 100px;
  max-height: 100px;
}

.Fields__button {
  margin-top: 10px;
}

.Fields__container {
  display: flex;
  align-items: center;
}

.Fields__numberOfPieces {
  widows: 100%;
  margin-left: 15px;
}

.Fields__category {
  margin-top: 15px;
}
